################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/bin/Debug/netcoreapp2.1
/BookStore/obj
